{% extends 'base_template.html' %}
{% load static %}

{% block content %}
    <div class="pt-5"></div>
    <div class="pt-5 container">
        <h2 class="ms-2">Новый пост</h2>
    </div>
    <div class="container admin_block pt-5 col-6">
        <form class="form-horizontal" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.media }}
            {{ form.as_p }}
            <input class="auth_button btn-block btn-primary col-4" type="submit" value="Сохранить">
        </form>
    </div>
{% endblock %}

{% block footer %}
{% endblock %}