{% extends 'base_template.html' %}
{% load static %}
{% load default %}

{% block content %}
    <div class="container mt-5">
        <div class="row col-12">
            <div class="col-8">
                <div class="">
                    <div class="row border bg-light">
                        <p class="text-uppercase pt-2 fs-3">все потоки</p>
                        <div class="thread-header">
                            <div class="navbar navbar-expand-lg d-flex pb-3">
                                <a class="text-uppercase text-decoration-none text-muted me-3" href="#">статьи</a>
                                <a class="text-uppercase text-decoration-none text-muted me-3" href="#">новости</a>
                                <a class="text-uppercase text-decoration-none text-muted me-3" href="#">хабы</a>
                                <a class="text-uppercase text-decoration-none text-muted me-3" href="#">авторы</a>
                                <a class="text-uppercase text-decoration-none text-muted me-3" href="#">компании</a>
                            </div>
                            <div class="search bg-light">
                                <form class="d-flex" role="search">
                                    <input class="form-control me-2" type="search" placeholder="Найти"
                                           aria-label="Search">
                                    <button class="btn btn-outline-secondary" type="submit">Найти</button>
                                </form>
                                <br>
                            </div>
                        </div>
                    </div>
                    <div class="pt-3"></div>
                    <div>
                        <h3><a class="text-uppercase text-decoration-none text-muted me-3" href="{% url 'blogs:post_create' %}">
                            scinet ждёт твой новый пост +
                        </a></h3>
                    </div>
                    {% for post in posts %}
                    <div class="card w-100">
                        <div class="card-header">
                            <div class="user-info d-flex m-auto pt-1">
                                <div class="user-photo pt-1">
                                    <img src="{{ post.user.avatar|media_for_users }}" alt="user-logo" width="30px"
                                         height="30px">
                                </div>
                                <div class="user-name ms-3 pt-2">
                                    <p><a href="#" class="text-muted text-decoration-none">{{ post.user.username }}</a></p>
                                </div>
                                <div class="passed-time ms-3 pt-2">
                                    <small class="text-muted">{{ post.updated_at}}</small>
                                </div>
                                <div class="reactions-block pt-2 d-flex">
                                    <div class="total-views ms-3">
                                        <a href="#" class="text-muted text-decoration-none"><img
                                                src="{% static 'img/eye.svg' %}"
                                                alt="views" width="25px">1000</a>
                                    </div>
                                    <div class="total-vote ms-3">
                                        <a href="#" class="text-muted text-decoration-none"><img
                                                src="{% static 'img/vote.svg' %}"
                                                alt="views" width="25px">1000</a>
                                    </div>
                                    <div class="total-bookmarks ms-3">
                                        <a href="#" class="text-muted text-decoration-none"><img
                                                src="{% static 'img/bookmark.svg' %}"
                                                alt="views" width="25px">1000</a>
                                    </div>
                                    <div class="total-comments ms-3">
                                        <a href="#" class="text-muted text-decoration-none"><img
                                                src="{% static 'img/message.svg' %}"
                                                alt="views" width="25px">1000</a>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="card-body">
                            <h5 class="card-title fs-4 font-weight-bold">{{ post.name}}</h5>
                            <div class="text-post pt-2">
                                <p class="card-text">{{ post.text }}</p>
                            </div>
                        </div>

                        <div class="card-body">
                            <a href="{% url 'blogs:post_read' post.id %}" class="btn btn-outline-secondary w-25">Читать далее</a>
                        </div>
                        {% if user.id == post.user.id %}
                        <div class="card-body">
                            <a href="{% url 'blogs:post_update' post.id %}" class="btn btn-outline-secondary w-25">Редактировать</a>
                        </div>
                        {% endif %}
                    </div>
                   {% endfor %}
                </div>
            </div>



            <div class="col-3">
                <div class="border best-blogs ">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item text-uppercase fs-4 bg-light">категории</li>
                        <li class="list-group-item text-uppercase">
                            <a href="#" class="text-muted text-decoration-none">дизайн</a></li>
                        <li class="list-group-item text-uppercase"><a href="#"
                                                                      class="text-muted text-decoration-none">веб
                            разработка</a>
                        </li>
                        <li class="list-group-item text-uppercase"><a href="#"
                                                                      class="text-muted text-decoration-none">мобильная
                            разработка</a>
                        </li>
                        <li class="list-group-item text-uppercase"><a href="#"
                                                                      class="text-muted text-decoration-none">маркетинг</a>
                        <li class="list-group-item text-uppercase"><a href="#"
                                                                      class="text-muted text-decoration-none">пусто</a>
                        <li class="list-group-item text-uppercase"><a href="#"
                                                                      class="text-muted text-decoration-none">пусто</a>
                        <li class="list-group-item text-uppercase"><a href="#"
                                                                      class="text-muted text-decoration-none">пусто</a>
                        <li class="list-group-item text-uppercase"><a href="#"
                                                                      class="text-muted text-decoration-none">пусто</a>
                        <li class="list-group-item text-uppercase"><a href="#"
                                                                      class="text-muted text-decoration-none">пусто</a>
                    </ul>
                </div>
            </div>

        </div>
    </div>
{% endblock %}