celery==5.2.6
Django==3.2.4
django-bootstrap3==21.2
django-celery-beat
django-ckeditor==6.4.2
django-filter==22.1
django-js-asset==2.0.0
django-timezone-field==5.0
djangorestframework==3.13.1
flower
Pillow
psycopg2-binary==2.9.3
redis
tzdata
vine==5.0.0
kombu==5.2.4
