{% extends 'base_template.html' %}
{% load static %}

{% block content %}
<div class="container">
    <a href="{% url 'index' %}"></a>
    <div class="h2 text-center head">
        Регистрация
    </div>
    <br>
    <form class="form-horizontal" action="{% url 'auth:register' %}" method="POST" enctype="multipart/form-data">

        {% csrf_token %}
        <table class="register_table">
{#            {{ register_form }}#}
            {{ form }}
        </table>
        <br>
        <input class="auth_button enter" type="submit" value="Зарегистрироваться">
        <br>
    </form>
</div>
{% endblock %}

{% block footer %}
{% endblock %}