{% extends 'base_template.html' %}
{% load static %}
{% load media_tags %}

{% block content %}
    <br>
    <br>
    <br>
    <br>
    <div class=" container users_list">
        <a class="useradd_button" href={% url 'adminapp:user_create' %}>
            <span>новый пользователь</span>
        </a>
        {% for object in object_list %}
            <div class="container_box
                {% if not object.is_active %}
                    not_active
                {% endif %}
                {% if object.is_superuser %}
                    admin_highlight
                {% endif %}">
                <img class="index_block_avatar" src="{{ object.avatar|media_for_users }}" alt="{{ object.username }}">
                <div class="user_role">
                    {% if object.is_superuser %}
                        <h4>
                            <span class="text-danger">администратор</span>
                        </h4>
                    {% else %}
                        <h4>
                            пользователь {{ object.username }}
                        </h4>
                    {% endif %}
{#                    <br>#}
{#                    {{ object.username }}<br>#}
{#                    <br>#}
                    {% if object.user_blocked %}
                        <p>Статус блокировки: <span class="text-danger font-weight-bold">Заблокирован</span></p>
                    {% else %}
                        <p class="fw-bold">Статус блокировки: <span class="text-primary font-weight-bold">Не заблокирован</span></p>
                    {% endif %}
                    <a class="user_edit_button" href={% url 'adminapp:user_update' object.pk %}>
                        редактировать
                    </a>
                    <br>
                    <a class="user_edit_button" href={% url 'adminapp:user_delete' object.pk %}>
                        {% if object.is_active %}
                            удалить
                        {% else %}
                            восстановить
                        {% endif %}
                    </a>
                    <div class="d-flex">
                        <a class="user_delete_button text-danger" href={% url 'adminapp:locked' object.pk %}>
                            Заблокировать
                        </a><br>
                        <a class="user_delete_button text-primary" href={% url 'adminapp:unlocked' object.pk %}>
                            Разблокировать
                        </a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
