{% load static %}
{% load default %}

<div class="user-info d-flex pt-1">
    <div class="user-photo pt-1">
        <a href="{% url 'authapp:profile_user' post.user.username %}">
            <img src="{{ post.user.avatar|media_for_users }}" alt="user-logo" width="30px" height="30px"></a>
    </div>
    <div class="user-name ms-3 pt-2">
        <p><a href="{% url 'authapp:profile_user' post.user.username %}" class="text-muted text-decoration-none">{{ post.user.username }}</a></p>
    </div>
    <div class="passed-time ms-3 pt-2">
        <small class="text-muted">{{ post.updated_at }}</small>
    </div>
    <div class="reactions-block pt-2 d-flex">
        <div class="total-views ms-3">
            <a href="#" class="text-muted text-decoration-none"><img
                    src="{% static 'img/eye.svg' %}"
                    alt="views" width="25px">1000</a>
        </div>
        <div class="total-vote ms-3">
            <a href="#" class="text-muted text-decoration-none"><img
                    src="{% static 'img/vote.svg' %}"
                    alt="views" width="25px">{{ post.votes.sum_rating }}</a>
        </div>
        <div class="total-bookmarks ms-3">
            <a href="#" class="text-muted text-decoration-none"><img
                    src="{% static 'img/bookmark.svg' %}"
                    alt="views" width="25px">1000</a>
        </div>
        <div class="total-comments ms-3">
            <a href="#" class="text-muted text-decoration-none"><img
                    src="{% static 'img/message.svg' %}"
                    alt="views" width="25px">1000</a>
        </div>
    </div>
</div>