@import url('https://fonts.googleapis.com/css?family=Montserrat:100,300,400,700');

* {
    margin: 0;
    padding: 0;
    /*background-color: #f0f0f0;*/
}

body {
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container {
    margin-top: 10px;
    min-height: 100%
}

.content{
    min-height: calc(100vh - 484px);
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
nav a {
  display: block;
  text-decoration: none;
  outline: none;
  transition: .4s ease-in-out;
}
.topmenu {
  backface-visibility: hidden;
  background: rgba(255,255,255,.8);
}
.topmenu > li {
  display: inline-block;
  position: relative;
}
.topmenu > li > a {
  font-family: 'Exo 2', sans-serif;
  height: 70px;
  line-height: 70px;
  font-weight: bold;
  color: #3F3F3F;
  text-transform: uppercase;
}
.down:after {
  content: "\f107";
  margin-left: 8px;
  font-family: FontAwesome;
}
.topmenu li a:hover { color: #000000; }
.submenu {
  background: white;
  border: 2px solid #bfbfbf;
  position: absolute;
    border-radius: 5px;
  left: 0;
  visibility: hidden;
  opacity: 0;
  z-index: 5;
  width: 150px;
  transform: perspective(600px) rotateX(-90deg);
  transform-origin: 0% 0%;
  transition: .6s ease-in-out;
}
.topmenu > li:hover .submenu{
  visibility: visible;
  opacity: 1;
  transform: perspective(600px) rotateX(0deg);
}
.submenu li a {
  color: #7f7f7f;
  font-size: 11px;
  line-height: 36px;
  padding: 0 25px;
  font-family: "Gill Sans", sans-serif;
}

/*html, body {*/
/*    height: 95%;*/
/*    -moz-transform: scale(0.95);*/
/*    -webkit-transform: scale(0.95);*/
/*    transform: scale(0.95);*/
/*}*/

/*.container {*/
/*    width: 900px;*/
/*    margin: 0 auto;*/
/*    min-height: 100%;*/
/*}*/


.login_block {
    background: #fff;
    border: 1px solid #eaeaea;
    border-radius: 25px;
    overflow: hidden;
    width: 50em;
    min-width: 500px;
    margin: auto;
    padding: 30px;
    position: relative;
    display: flex;
    flex-direction: column;
}

.main_menu {
    display: flex;
    padding-top: 24px;
}

.logo_name {
    display: flex;
}

.add {
    margin-top: 20px;
}

.edit_cross {
    position: absolute;
    top: 20px;
    right: 20px;
    background-image: url(/static/img/edit_cross.png);
    width: 36px;
    height: 36px;
}
.edit_cross:hover {
    background-image: url(/static/img/edit_cross_bold.png);
}

.auth_button {
    text-decoration: none;
    background: #ffffff;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    border-color: #000000;
    font-size: 20px;
    text-align: center;
    color: #555;
    width: 100%;
}
.auth_button:hover {
    color: #000;
}

.admin_container .menu span {
    margin-left: 10px;
    font-weight: bold;
    letter-spacing: 3px;
    color: #111;
}

.admin_menu {
    display: block;
    left: 15px;
    top: 20px;
    height: 40px;
    width: 100%;
}

.admin_menu ul.menu {
    display: block;
    width: 900px;
    height: 50px;
    margin: auto;
    color: #555;
}

.menu {
    list-style-type: none;
}

.menu li {
    float: left;
}

.menu a {
    list-style-type: none;
    color: #8c8c8c;
    font-size: 10px;
    font-weight: 700;
    text-align: right;
    text-transform: uppercase;
    text-decoration: none;
    padding: 10px 13px;
}

.menu .active {
    color: #000000;
    font-weight: 700;
    border-bottom: 3px solid #212121;
}

.menu a:hover {
    text-decoration: none;
    list-style-type: none;
    color: #212121;
    font-weight: 700;
    border-bottom: 3px solid #212121;
}

.menu a:active {
    color: #000000;
    font-weight: 700;
    border-bottom: 3px solid #212121;
}

.form_view {
    background: #fff;
    border: 1px solid #eaeaea;
    border-radius: 25px;
    overflow: hidden;
    width: 28em;
    min-width: 500px;
    margin: auto;
    padding: 30px;
    position: relative;
    display: flex;
    flex-direction: column;
}

.register_table{
    display: flex;
    justify-content: center;
}

.single_blog{
    /*border: 2px solid #bfbfbf;*/
    border-radius: 10px;
    padding: 10px;
}

/*.blog_img {*/
/*    height: 10px;*/
/*}*/

.blog_meta {
    margin: -20px 0px -5px 0px;
}

.hr{
    margin: 0px 5px;
    color: #aeafd9;
    background_color: #aeafd9;
    padding-top: 2px;
}

.blog_header{
    text-align: center;
    margin: 5px 5px;
}

.useradd_button {
    background-image: url(/static/img/plus_cross.png);
    background-repeat: no-repeat;
    height: 36px;
    border-radius: 5px;
    font-size: 20px;
    padding: 12px 10px 9px 44px;
    text-align: center;
    color: #555;
    font-weight: 600;
    text-decoration: none;
}

.useradd_button:hover {
    background-image: url(/static/img/plus_cross_hover.png);
    text-decoration: none;
    color: #000000;
}


.container_box {
    display: flex;
    margin-bottom: 10px;
}

.container_box.not_active {
    opacity: 0.5;
}

.index_block_avatar {
    height: 100%;
    margin-right: 10px;
    overflow: hidden;
    /* width: 100%; */
    max-width: 150px;
    border-radius: 10px
}

.user_edit_button{
    color: #555;
    text-decoration: none;
    border: 1px solid #eaeaea;
    border-radius: 25px;
}

.user_edit_button:hover{
    color: #000;
}

.admin_highlight {
    border-color: #8c0000;
    border-style: solid;
    border-width: 5px;
}

a {
    opacity: 0.8;
    text-decoration: none;
    color: #9D9D9D
}

.read_more {
    margin-left: 17px;
}

.logo_name {
    font-family: 'Montserrat', sans-serif;
    margin-left: 10px;
}

.text {
    text-align: justify;
}

.post_form {
    display: flex;
    flex-direction: column;
    width: 80%;
}

.card-img-top {
    width: 95%;
    margin-left: 2.5%;
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.footer {
    flex: 0 0 auto;
}

.enter {
    width: 50%;
    display: block;
    margin: 0 auto;
}

ul.likes {
    list-style-type: none;
    display: flex;
}

.notifications_main {
    padding: 20px;
}

.notification_seen {
    background-color: #d0f5f5;
    animation: pulse 1s infinite;
}

.notification_seen:hover {
	animation: none;
}

@-webkit-keyframes pulse {
	0% {
		box-shadow: 0 0 0 0 rgba(78, 62, 140, 0.4);
	}
	70% {
		box-shadow: 0 0 0 10px rgba(78, 62, 140, 0);
	}
	100% {
		box-shadow: 0 0 0 0 rgba(78, 62, 140, 0);
	}
}



.custom-search {
    width: 300px;
    border-radius: 5px;
    border: solid;
}


ul.navigation {
    display: flex;
}

.post-user-info{
    display:flex;
    justify-content: space-between;
}

.user-info {
    display: flex;
    flex-direction: row;
}

.reactions-block {
    display: flex;
    padding: 0px 5px;
}

.ms-3{
    padding: 0px 7px;
}

.text-muted {
    color: #777;
    max-width: 20px;
    text-align: center;
}

.user-photo-post {
    max-width: 30px;
}

.rounded-circle{
    border-radius: 5px;
}


.burger_menu {
    max-width: 15px;
    margin-left: 5px;
}

.not_user{
    font-weight: bold;
}

.edited_content{
    display: flex;
    justify-content: center;
}

.admin_block{
    width: 90%;
}

.django-ckeditor-widget{
    width: 100%
}

.date_message {
    width: 1px;
}